.page {
  text-align: center;
  position: relative;
  width: 100%;
}
.buttonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

.buttonDiv > a {
  margin: 1vh 0;
}

.button {
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-large;
  padding-left: 2rem;
  padding-right: 2rem;
}

.button:hover {
  background-color: var(--accent-light);
  color: var(--white);
  text-decoration: none;
  color: var(--my-white) !important;
  border: 1px solid var(--accent-light);
}
.blurb {
  font-size: 18px;
  margin: 3rem 0;
}
.imageWrapper {
  position: relative;
  width: 80%;
}
.fader {
  width: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.solid {
  width: 100%;
  padding: 0;
}
.fader:hover {
  opacity: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .blurb {
    width: 100%;
  }
}
@media (pointer: coarse) {
  .buttonDiv {
    flex-direction: column;
  }

  .button {
    min-width: 60vw;
    font-size: 4vw;
  }
  .fader {
    visibility: hidden;
  }
  .solid {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
}

.fadeDown {
  animation: fadeDown ease 3s;
  -webkit-animation: fadeDown ease 3s;
  -moz-animation: fadeDown ease 3s;
  -o-animation: fadeDown ease 3s;
  -ms-animation: fadeDown ease 3s;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* /////fadeIn///// */

.fadeUp {
  animation: fadeUp ease 3s;
  -webkit-animation: fadeUp ease 3s;
  -moz-animation: fadeUp ease 3s;
  -o-animation: fadeUp ease 3s;
  -ms-animation: fadeUp ease 3s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-ms-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* /////fadeIn///// */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
