.page {
  text-align: center;
  position: relative;
  /* min-height: 100vh; */
  width: 100%;
}

.blurb {
  font-size: 18px;
  margin: 3rem 0;
}
.imageWrapper {
  position: relative;
  width: 80%;
}
.fader {
  width: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.solid {
  width: 100%;
  padding: 0;
}
.fader:hover {
  opacity: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .blurb {
    width: 100%;
  }
}
@media (pointer: coarse) {
  .fader {
    visibility: hidden;
  }
}

.fadeDown {
  animation: fadeDown ease 3s;
  -webkit-animation: fadeDown ease 3s;
  -moz-animation: fadeDown ease 3s;
  -o-animation: fadeDown ease 3s;
  -ms-animation: fadeDown ease 3s;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUp {
  animation: fadeUp ease 3s;
  -webkit-animation: fadeUp ease 3s;
  -moz-animation: fadeUp ease 3s;
  -o-animation: fadeUp ease 3s;
  -ms-animation: fadeUp ease 3s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
