.page {
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
img {
  width: 80%;
}
.fader {
  width: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.solid {
  width: 100%;
  padding: 0;
}
.fader:hover {
  width: 100%;
  opacity: 0;
  padding: 0;
}
.blurb {
  font-size: 18px;
  margin: 75px 0;
}
.saleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 1rem;
  background-color: #d2d2d2;
  padding: 4rem;
  margin-bottom: 4rem;
}
.saleWrapper span {
  font-size: x-large;
  margin-bottom: 4rem;
}
@media (pointer: coarse) {
  .fader {
    visibility: hidden;
  }
}
