.nameEmailRow {
  display: flex;
  justify-content: space-between;
}

.nameEmailRow > input {
  width: 46%;
  line-height: 1.6;
  margin-bottom: 3vh;
}

textarea {
  width: 100%;
  margin-bottom: 3vh;
}

.contactButton {
  line-height: 3;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  width: 100%;
  background-color: var(--accent-light);
  color: var(--accent-dark);
}
.contactButton:hover {
  transform: translateY(2px);
  transform: scale(0.95);
  transition: translateY 0.2s ease-in-out;
}

.footerWrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 760px) {
  .nameEmailRow {
    flex-direction: column;
    /* justify-content: flex-start; */
  }
  .nameEmailRow > input {
    width: 100%;
  }
}

@media (pointer: coarse) {
  @media screen and (max-width: 900px) {
    .nameEmailRow {
      flex-direction: column;
    }
    .nameEmailRow > input {
      width: 100%;
    }
    .footerWrapper {
      position: inherit;
    }
  }
  @media screen and (max-width: 760px) {
    .input {
      font-size: x-large;
    }
  }
}
