.footer {
  background-color: #343a40;
  min-height: 200px;
  max-height: 200px;
  overflow-y: hidden;
  position: sticky;
}

.infoLinks {
  display: flex;
  flex-direction: column;
  height: 120px;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  color: #f2f2f2;
  font-size: 22px;
  width: 100%;
  padding: 0 10%;
}

.contactItem:hover {
  background-color: #ffffff;
  color: #343a40;
}

.contactIcon + p {
  display: inline;
}
.buttonDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.buttons {
  max-height: 80px;
  max-width: 40%;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #343a40;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 5 10px #f2f2f2;
  font-size: 24px;
}

.buttons:hover {
  background-color: #343a40;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

@media screen and (max-width: 760px) {
  .contactItem {
    font-size: 20px;
  }

  .buttons {
    font-size: 20px;
  }
}
@media screen and (max-width: 610px) {
  .contactItem,
  .buttons {
    font-size: 2.5vw;
  }
}
