.footer {
  background-color: var(--dark-grey);
  min-height: 200px;
  max-height: 200px;
  overflow-y: hidden;
  position: sticky;
}

.infoLinks {
  display: flex;
  flex-direction: column;
  height: 120px;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  color: var(--my-white);
  font-size: 22px;
  width: 100%;
  padding: 0 10%;
}

.contactItem:hover {
  background-color: var(--pure-white);
  color: var(--dark-grey);
}

.contactIcon + p {
  display: inline;
}
.buttonDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.buttons {
  max-height: 80px;
  max-width: 40%;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-grey);
  background-color: var(--my-white);
  border: 1px solid var(--my-white);
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 5 10px var(--my-white);
  font-size: 24px;
}

.buttons:hover {
  background-color: var(--dark-grey);
  color: var(--my-white);
  border: 1px solid var(--my-white);
}

@media screen and (max-width: 760px) {
  .contactItem {
    font-size: 20px;
  }

  .buttons {
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  .contactItem,
  .butons {
    font-size: 15px;
  }
}

@media (pointer: coarse) {
  .footer {
    min-height: 30vh;
    max-height: 30vh;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .infoLinks {
    height: 18vh;
  }
  .buttonDiv {
    height: 12vh;
  }
  .contactItem,
  .buttons {
    font-size: 1.8vh;
  }
}
