.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.content {
  margin: 10% 30%;
  padding: 30px;
  background-color: #ffffff;
}

.header {
  font-size: 30px;
  padding-bottom: 10px;
  color: #c3122f;
}

@media screen and (max-width: 760px) {
  .content {
    margin: 10%;
  }
}
