.footer {
  background-color: var(--accent-dark);
  padding: 1vh 2vw;
  margin-top: 3rem;
  z-index: 989;
}

.infoLinks {
  display: flex;
  flex-direction: column;
  height: auto;
  color: var(--white);
}
.infoLinks:hover {
  text-decoration: none;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  color: var(--my-white);
  font-size: 22px;
  width: 100%;
}

.contactItem:hover {
  background-color: var(--pure-white);
  color: var(--accent-dark);
}

.contactIcon + p {
  display: inline;
}
.buttonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div > a {
  margin: 1vh 0;
}

.button {
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-large;
  padding-left: 2rem;
  padding-right: 2rem;
}

.button:hover {
  background-color: var(--accent-light);
  color: var(--white);
  text-decoration: none;
  color: var(--my-white) !important;
  border: 1px solid var(--accent-light);
}

/* @media screen and (max-width: 760px) {
  .contactItem {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
  }
} */

/* @media (pointer: coarse) {
  @media screen and (max-width: 768px) {
    .buttonDiv {
      flex-direction: column;
    }

    .contactItem,
    .button {
      min-width: 60vw;
      font-size: 20px;
    }
  }
} */

@media (pointer: coarse) {
  .buttonDiv {
    flex-direction: column;
  }

  .contactItem,
  .button {
    min-width: 60vw;
    font-size: 4vw;
  }
  /* .footer {
    position: inherit;
  } */
}
