.footer {
  background-color: var(--dark-grey);
  padding: 1vh 2vw;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 989;
}

.infoLinks {
  display: flex;
  flex-direction: column;
  height: auto;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  color: var(--my-white);
  font-size: 22px;
  width: 100%;
  padding: 0 10%;
  margin: 1vh 0;
}

.contactItem:hover {
  background-color: var(--pure-white);
  color: var(--dark-grey);
}

.contactIcon + p {
  display: inline;
}
.buttonDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttons {
  text-decoration: none;
  /* line-height: 3; */
  text-transform: uppercase;
  /* color: var(--dark-grey) !important;
  background-color: var(--my-white);
  border: 1px solid var(--my-white);
  box-shadow: 0 5 10px var(--my-white);
  font-size: 14px; */
}

.buttons:hover {
  background-color: var(--dark-grey);
  text-decoration: none;
  color: var(--my-white) !important;
  border: 1px solid var(--my-white);
}

@media screen and (max-width: 760px) {
  .contactItem {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
  }
}

@media (pointer: coarse) {
  .contactItem,
  .button {
    font-size: small;
  }
}
