.footer {
  background-color: var(--dark-grey);
  padding: 1vh 2vw;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 989;
}

.infoLinks {
  display: flex;
  flex-direction: column;
  height: auto;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  color: var(--my-white);
  font-size: 22px;
  width: 100%;
}

.contactItem:hover {
  background-color: var(--pure-white);
  color: var(--dark-grey);
}

.contactIcon + p {
  display: inline;
}
.buttonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div > a {
  margin: 1vh 0;
}

.buttons {
  text-decoration: none;
  text-transform: uppercase;
}

.buttons:hover {
  background-color: var(--dark-grey);
  text-decoration: none;
  color: var(--my-white) !important;
  border: 1px solid var(--my-white);
}

@media screen and (max-width: 760px) {
  .contactItem {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
  }
}

@media (pointer: coarse) {
  @media screen and (max-width: 768px) {
    .buttonDiv {
      flex-direction: column;
    }

    .contactItem,
    .button {
      min-width: 60vw;
      font-size: 20px;
    }
  }
}

@media (pointer: coarse) {
  .footer {
    position: inherit;
  }
}
